.publication-sec-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    margin-right: 60px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 40px;
    background-color: #ffe8c5;
    min-width: 283px;
    min-height: 433px;
    width: 100%;
}

.publication-sec-card img {
    max-width: 283px;
    max-height: 230px;
    object-fit: cover;
}

.publication-info {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    font-weight: 600;
    margin: 15px 0px 0px 20px;
}

.publication-info h3 {
    margin: 0;
    font-size: 37px;
    font-family: 'Raleway';
    font-weight: 600;
}

.publication-info p {
    margin: 5px 0 0;
    font-size: 0.9em;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 700;
}

.publication-sec-card__image {
    object-fit: cover;
    min-height: 262px;
    height: 100%;
    min-width: 100%;

}