.bottonsConteiner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    margin-right: 37px;
}

.grid-button {
    margin-right: 22px;
    border: none;
    background: none;
}