.encyclopedia {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1700px;
}

.encyclopedia__header {
    margin-bottom: 30px;
    align-self: self-end;
}

.encyclopedia__search {
    margin-top: 20px;
}

.encyclopedia__search-input {
    width: 100%;
    align-self: center;
    max-width: 600px;
    padding: 12px 20px;
    border: 2px solid #ffe8c5;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Raleway';
    outline: none;
    transition: border-color 0.3s;
}

.encyclopedia__search-input:focus {
    border-color: #ffa726;
}

.encyclopedia__section {
    margin-bottom: 40px;
    max-width: 1624px;

}

.encyclopedia__section-title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 55px;
    margin: 0px 0px 20px 187px;
    color: #333;
}

.encyclopedia__cards-row {
    display: flex;
    max-width: 1624px;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.encyclopedia__cards-row::-webkit-scrollbar {
    display: none;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .encyclopedia {
        padding: 10px;
    }

    .encyclopedia__section-title {
        font-size: 20px;
    }
}
