@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    min-width: 1420px;
}

.mainpage {
    width: 100%;
    height: 2850px;
}




header .logo .logo-img {
    transform: translateY(50%);
}

/*header .logo {*/
/*    margin-left: 40px;*/
/*    cursor: pointer;*/
/*    transition: opacity 300ms ease;*/
/*}*/

/*header .logo:hover {*/
/*    opacity: 0.7;*/
/*}*/

/*header ul.nav {*/
/*    margin-right: 40px;*/
/*    float: right;*/
/*    list-style: none;*/
/*}*/

/*header ul.nav li {*/
/*    display: inline;*/
/*    margin-left: 100px;*/
/*    cursor: pointer;*/
/*    transition: opacity 300ms ease;*/
/*    font-size: 37px;*/
/*    font-family: 'Raleway';*/
/*    font-weight: 600;*/
/*}*/

/*header ul.nav li:hover {*/
/*    opacity: 0.5;*/
/*}*/

/*header ul.nav .lk-icon {*/
/*    height: 75px;*/
/*    width: 75px;*/
/*    position: relative;*/
/*    top: 50%;*/
/*    transform: translateY(30%);*/
/*}*/

footer {
    background-color: #f7f7f7;
    height: 311px;
}

footer .logo-img-footer {
    margin-left: 142px;
    margin-top: 46px;
}

footer .qr-code-footer {
    height: 163px;
    width: 163px;
    margin-right: 142px;
    vertical-align: center;
    transform: translateY(-90%);
}

footer ul.nav-footer {
    float: right;
    list-style: none;
}

footer .nav-footer li {
    display: inline-block;
    margin-left: 200px;
    transition: opacity 300ms ease;
    font-size: 37px;
    font-family: 'Raleway';
    font-weight: 300;
}

footer .ul-block1 li:hover {
    opacity: 0.5;
}

footer .ul-block2 li:hover {
    opacity: 0.5;
}

footer .ul-block1 li {
    display: block;
    margin-bottom: 16px;
    cursor: pointer;
    transform: translateY(-350%);
}

footer .ul-block2 li {
    display: block;
    margin-bottom: 16px;
    cursor: pointer;
    transform: translateY(-350%);
}

.more-about-us {
    cursor: pointer;
    transition: opacity 300ms ease;
}

.more-about-us:hover {
    opacity: 0.5;
}

.more-article {
    cursor: pointer;
    transition: opacity 300ms ease;
}

.more-article:hover {
    opacity: 0.5;
}

.state-pub-clider {
    transition: all 0.3s ease;
    cursor: pointer;
}

.state-pub-clider:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
