@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,600&display=swap');

.publications-sec {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1700px;
}


.publications-sec-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 1700px;
    padding: 0;
    margin-top: 60px;
}

.conteiner-sec {
    display: flex;
    justify-content: center;
}
.next-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    padding: 30px 60px;
    background-color: #ffe8c5;
    max-width: 280px;
    max-height: 153px;
    width: 100%;
    border-radius: 40px;
    margin-bottom: 140px;
    margin-top: 140px;
    border: none;
}
h1 {
    font-family: 'Raleway';
    font-weight: 600;
}
.section-publication-conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}
.special-publications-conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.publications-sec__title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 55px;
}