@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,600&display=swap');

.publications {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1700px;
}

.publication-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    margin-right: 60px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 40px;
    background-color: #ffe8c5;
    max-width: 283px;
    min-height: 433px;
    width: 100%;
}

.publication-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 15px;
}

.publication-info {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    font-weight: 600;
}

.publication-info h3 {
    margin: 0;
    font-size: 37px;
    font-family: 'Raleway';
    font-weight: 600;
}

.publication-info p {
    margin: 5px 0 0;
    font-size: 0.9em;
}



.publicationsConteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 1700px;
    padding: 0;
    margin-top: 60px;
}

.conteiner {
    display: flex;
    justify-content: center;
}