.publication-sec-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 40px;
    background-color: #ffe8c5;
    width: 100%;        /* чтобы занимала всю ширину ячейки */
    max-width: 280px;   /* ограничение по дизайну */
    min-height: 433px;  /* если нужен минимальный рост */
    box-sizing: border-box;
}


.publication-sec-card img,
.publication-sec-card .publication-sec-card__image {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 40px 40px 0 0;
}

.publication-info {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    font-weight: 600;
    margin: 15px 0px 0px 20px;
}

.publications-sec-card__title {
    max-width: 243px;
    max-height: 57px;
    margin: 0;
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: 800;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.publication-info p {
    margin: 5px 0 0;
    font-size: 0.9em;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 700;
}
